/* Codice Css Hubspot clone */

/* classi utility e reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 1400px;
  overflow: scroll;
}

/* header */

header {
  height: 770px;
}

.row {
  margin: auto;
}

.text {
  width: 70%;
}

.left  {
 width: 50%;
 float: left;
}

.right {
  float: right;
  width: 50%;
  text-align: right;
}

h1, h2, p, h6, span, .titoletto {
  color: rgb(51, 71, 91);
  font-family: 'Roboto', 'Montserrat', 'AvenirNext', 'Helvetica', 'Arial', 'sans-serif';
  text-decoration: none;
}

.learn_more {
  font-family: 'Roboto', 'Montserrat', 'AvenirNext', 'Helvetica', 'Arial', 'sans-serif' !important;
  font-size: 14px !important;
  color: white !important;
  text-decoration: none !important;
  background-color: #FF7A59 !important;
  border: 1px solid #FF7A59 !important;
  border-radius: 7px !important;
  padding: 18px 35px 18px 35px !important;
}

.button_orange {
  margin-bottom: 30px;
}

/* end classi utility e reset */

#sfondo_main {
  width: 100%;
  background-color: #f4f9fd;
}


/* navbar */

nav, li > a {
  color: rgb(51, 71, 91);
  font-family: 'Roboto', 'Montserrat', 'AvenirNext', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 16px;
  text-align: left;
  text-decoration: none;
}

.navbar {
  background-color: white;
  padding-top: 80px;
}

.navbar_blue {
  border-bottom: 1px solid rgb(51, 71, 91);
  background-color: #f4f9fd;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 80px;
}

.first, .second {
  content: "";
  display: table;
  clear: both;
  width: 70%;
  transform: translateY(110%);
}

#logo {
  margin-top: -6px;
}


/* elementi prima riga navbar left */

.left > i {
  padding: 0 3px 0px 0;
}

.select {
  margin-right: 20px;
  border: none;
  color: rgb(51, 71, 91);
  font-family: 'Roboto', 'Montserrat','AvenirNext', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 16px;
  text-align: left;
  text-decoration: none;
}

.left > a:nth-child(3) {
  padding-left: 20px;
  border-left: 1px solid rgb(51, 71, 91);
  color: rgb(51, 71, 91);
  text-decoration: none;
}

.left > a:nth-child(3):hover {
  text-decoration: underline;
  text-decoration-color: rgb(0, 122, 140);
  color: rgb(0, 122, 140);
}

.left > i:hover {
  text-decoration-color: rgb(0, 122, 140);
  color: rgb(0, 122, 140);
}

.select:hover {
  text-decoration-color: rgb(0, 122, 140);
  color: rgb(0, 122, 140);
}

/* end elementi prima riga navbar left */


/* elementi prima riga navbar right */

.right > i {
  color: rgb(0, 122, 140);
}

.right > a {
  border: 1px solid #FF7A59;
  text-decoration: none;
  padding: 10px;
  border-radius: 7px;
  margin-left: 20px;
}

#price {
  margin-right: -20px;
}

.right > a:nth-child(2) {
  color: #FF7A59;
  border: 1px solid #FF7A59;
}

.right > a:nth-child(3) {
  color: white;
  background-color: #FF7A59;
}

/* end elementi prima riga navbar right */


/* elementi seconda riga navbar right */

.second ul > li {
  list-style-type: none;
  display: inline;
}

.second li > a {
  padding: 0 20px 0 20px;
}

/* end elementi seconda riga navbar right */


/* end navbar */


/* jumbo image */

.jumbo_image {
  width: 100%;
  height: calc(100% - 153.6px);
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-size: 1429px 695px;
  background-position: bottom right;
  background-color: #fff4f0;
}

.percentage {
  width: 42%;
}

h1 {
 font-size: 50px;
 margin: 95px 0 30px 0;
}

.percentage > p {
  font-weight: 300;
  margin-bottom: 50px;
  line-height: 1.5em;
}

.jumbo_images a {
  margin-bottom: 30px;
}

h6 {
  margin-top: 50px;
  font-weight: lighter;
}

/* end jumbo image */


/* barra verde */

.container_verde {
  height: 60px;
  width: 100%;
}

.barra_verde {
  width: 100%;
  height: 100px;
  background-color: rgb(146, 228, 218);
  border-top: 3px solid rgb(51, 71, 91);
  border-bottom: 3px solid rgb(51, 71, 91);
  transform: translateY(-85%);
}

/* end barra verde */


/* end header */


/* main */

/* main_header rubik  */

.main_header {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 55px;
}

#rubik {
  width: 100%;
}

h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

.main_header > p {
  line-height: 1.6em;
}

.main_header img {
  width: 18%;
}

/* end main_header rubik  */


/* main_blocco_bianco con colonna crm + 3 colonne */

.crm_sx {
  width: 33.33% !important;
  text-align: center;
}

.crm_dx {
  width: 66.67% !important;
}

.crm {
  background-color: white;
  border: 1px solid cadetblue;
  padding-top: 65px;
  margin-bottom: 30px;
  width: 100%;
  content: "";
  display: table;
  clear: both;
}

.crm li {
  display: inline;
}

.crm span {
  font-size: 14px;
  padding-left: 10px;
}

.crm a {
  position: absolute;
  transform: translate(-100%, 290%);
}

.crm .titoletto {
  text-align: left;
}

#book {
  width: 30%;
  padding-top: 30px;
}

#deal {
  padding-right: 10px;
}


/* 3 colonne */

/* struttura della griglia delle tre colonne */

.tre::after {
  content: "";
  display: table;
  clear: both;
  width: 70%;
}

.marketing, .sales, .service {
  width: 33.33%;
  margin-bottom: 50px;
  color: rgb(51, 71, 91);
  font-family: 'Roboto', 'Montserrat','AvenirNext', 'Helvetica', 'Arial', 'sans-serif';
  text-align: center;
}

.marketing {
  padding-right: 30px;
}

.box {
  border: 1px solid cadetblue;
  width: 100%;
  background-color: white;
}

.box > p {   /* scritte paragrafi */
  line-height: 1.6em;
  font-size: 15px;
}

.sales {
  padding-left: 1px;
  padding-right: 1px;
}

.service {
  padding-left: 30px;

}

/* end struttura della griglia delle 3 colonne */

/* testi e immagini delle 3 colonne */

h3 {
  font-size: 20px;
  margin-bottom: 30px;
}

.trio {
  margin: 20px 0 25px 0;
}


.titoletto {   /* popolar feature */
  text-align: center;
  font-size: 16px !important;
  font-weight: bold;
  border-top: 2px solid darkgrey;
  padding-top: 30px;
  margin-top: 30px;
}

.tre ul {
  padding-left: 30px;
}

.icone_rosse {
  margin-top: 30px;
  margin-bottom: 70px;
  text-align: left;
}

.icone_rosse li {    /* elementi liste */
  list-style: none;
}

.fa-check-circle {
  color: #FF7A59;
}


/* end testi e immagini delle 3 colonne */

/* end 3 colonne */

/* end main_blocco_bianco con colonna crm + 3 colonne */


/* div gradiente verde */

/* testi e sfondo del gradiente */

.sfondo_gradiente {
  background: -webkit-linear-gradient(left, rgba(0,165,188,1) 0%, rgba(0,188,166,1) 100%, rgba(0,165,188,1) 100%);
  background: -o-linear-gradient(left, rgba(0,165,188,1) 0%, rgba(0,188,166,1) 100%, rgba(0,165,188,1) 100%);
  background: linear-gradient(to right, rgba(0,165,188,1) 0%, rgba(0,188,166,1) 100%, rgba(0,165,188,1) 100%);
  width: 100%;
  position: relative;
}

.grow {
  text-align: center;
  color: white;
  font-family: 'Roboto', 'Montserrat', 'AvenirNext', 'Helvetica', 'Arial', 'sans-serif';
  padding-bottom: 100px;
}

.grow > h2 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.grow > p, .grow > h2 {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.grow > p {
  font-size: 13px;
  padding-top: 140px;
  margin-bottom: 50px;
}

/* end testi e sfondo del gradiente */

/* tabella */

.table {
  padding-top: 220px;
  width: 100%;
  margin-bottom: 80px;
}

.riga::after {
  content: "";
  display: table;
  clear: both;
}

.riga_bordo  {
  border-bottom: 1px solid white;
}

.col_25 {
  width: 25% !important;
  border-left: 1px solid white;
  padding: 20px;
}

.numbers {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 10px;
}

.small {
  font-size: 12px;
}

.border {
  border-left: none !important;
}

/* end tabella */

/* end div gradiente verde */


/* sezione loghi */

/* contenitori e floating sezione loghi  */

.loghi::after {
  content: "";
  display: table;
  clear: both;
}

.riga_uno_sx {
  width: 33.33% !important;
}

.riga_uno_dx {
  padding-right: 100px;
  width: 66.67% !important;
  text-align: end;
}

.riga_uno_dx img {
  width: 22%;
  padding: 10px 20px 10px 20px;
}

.loghi {
  padding-top: 35px;
  margin-bottom: 50px;
  margin-left: 80px;
}

.non_loghi {
  padding-top: 30px;
  margin-bottom: 400px;
}

.nls {
  padding-top: 30px;
}

/* end contenitori e floating sezione loghi  */

/* testi sezione loghi */

.loghi h2 {
  font-size: 48px;
}

.loghi p {
  font-size: 16px;
  line-height: 1.6em;
}

.non_loghi h2 {
  width: 70%;
}

.non_loghi p {
  line-height: 1.5em;
  font-weight: 300;
  width: 75%;
  margin-bottom: 80px;
}

.non_loghi img {
  width: 43%;
  background-repeat: no-repeat;
}


/* end testi sezione loghi */

/* end sezione loghi */


/*footer */

#foot {
  background-color: rgb(51,71,91); 
  width: 100%;
  height: auto;
}

/* end footer */
