/* Codice Css Hubspot clone */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 1400px;
  overflow: scroll;
}

/* header */

header {
  height: 770px;
  background-color: lightpink;
}

.row {
  margin: auto;
}

/* navbar */

nav, li > a {
  height: 4vw;
  color: rgb(51, 71, 91);
  font-family: 'Roboto', 'Montserrat', 'AvenirNext', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 16px;
  text-align: left;
  text-decoration: none;
}

.navbar {
  background-color: white;
}

.navbar_blue {
  border-bottom: 1px solid rgb(51, 71, 91);
  background-color: aliceblue;
}

.left  {
 width: 50%;
 float: left;
}

.right {
  float: right;
  width: 50%%;
  text-align: right;
}

.first, .second {
  content: "";
  display: table;
  clear: both;
  width: 70%;
  transform: translateY(110%);
}

#logo {
  margin-top: -6px;
}

/* elementi prima riga navbar left */

.left > i {
  padding: 0 3px 0px 0;
}

.select {
  margin-right: 20px;
  border: none;
  color: rgb(51, 71, 91);
  font-family: 'Roboto', 'Montserrat','AvenirNext', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 16px;
  text-align: left;
  text-decoration: none;
}

.left > a:nth-child(3) {
  padding-left: 20px;
  border-left: 1px solid rgb(51, 71, 91);
  color: rgb(51, 71, 91);
  text-decoration: none;
}

.left > a:nth-child(3):hover {
  text-decoration: underline;
  text-decoration-color: rgb(0, 122, 140);
  color: rgb(0, 122, 140);
}

.left > i:hover {
  text-decoration-color: rgb(0, 122, 140);
  color: rgb(0, 122, 140);
}

.select:hover {
  text-decoration-color: rgb(0, 122, 140);
  color: rgb(0, 122, 140);
}

/* end elementi prima riga navbar left */


/* elementi prima riga navbar right */

.right > i {
  color: rgb(0, 122, 140);
}

.right > a {
  border: 1px solid #FF7A59;
  text-decoration: none;
  padding: 10px;
  border-radius: 7px;
  margin-left: 20px;
}

#price {
  margin-right: -20px;
}

.right > a:nth-child(2) {
  color: #FF7A59;
  border: 1px solid #FF7A59;
}

.right > a:nth-child(3) {
  color: white;
  background-color: #FF7A59;
}

/* end elementi prima riga navbar right */


/* elementi seconda riga navbar right */

.second ul > li {
  list-style-type: none;
  display: inline;
}

.second li > a {
  padding: 0 20px 0 20px;
}

/* end elementi seconda riga navbar right */


/* end navbar */


/* jumbo image */

.jumbo_image {
  width: 100%;
  height: calc(100% - 153.6px);
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-size: 1429px 695px;
  background-position: bottom right;
}

.text {
  width: 70%;
}

h1, h2, p, h6, .titoletto {
  color: rgb(51, 71, 91);
  font-family: 'Roboto', 'Montserrat', 'AvenirNext', 'Helvetica', 'Arial', 'sans-serif';
  text-decoration: none;
}

.percentage {
  width: 42%;
}

h1 {
 font-size: 50px;
 margin: 95px 0 30px 0;
}

.percentage > p {
  font-weight: 300;
  margin-bottom: 50px;
  line-height: 1.5em;
}

.text a {
  margin-bottom: 30px;
}

h6 {
  margin-top: 50px;
  font-weight: lighter;
}

/* end jumbo image */


/* barra verde */

.container_verde {
  height: 60px;
  width: 100%;
}

.barra_verde {
  width: 100%;
  height: 100px;
  background-color: rgb(146, 228, 218);
  border-top: 3px solid rgb(51, 71, 91);
  border-bottom: 3px solid rgb(51, 71, 91);
  transform: translateY(-85%);
}

/* end barra verde */


/* end header */


/* main */

/* main_header powerful alone better toghether  */

.main_header {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 55px;
}

#rubik {
  width: 100%;
}

h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

.main_header > p {
  line-height: 1.6em;
}

.main_header img {
  margin-top: 30px;
  width: 12%;
}

/* end main_header powerful alone better toghether  */

/* main_blocco_bianco con colonna crm + 3 colonne */

.main_blocco_bianco {
  width: 70%;
}

.crm {
  background-color: deeppink;
  border: 2px solid black; /* rgb(230, 236, 241); */
  padding-bottom: 65px;
  margin-bottom: 50px;
}
/* 3 colonne */

/* struttura della griglia delle tre colonne */

.tre::after {
  content: "";
  display: table;
  clear: both;
  width: 70%;
}

.marketing, .sales, .service {
  width: 33.33%;
  margin-bottom: 50px;
  color: rgb(51, 71, 91);
  font-family: 'Roboto', 'Montserrat','AvenirNext', 'Helvetica', 'Arial', 'sans-serif';
  text-align: center;
}

.marketing {
  padding-right: 30px;
}

.box {
  border: 1px solid cadetblue;
  width: 100%;
}

.box > p {   /* scritte paragrafi */
  line-height: 1.6em;
  font-size: 15px;
}

.sales {
  padding-left: 1px;
  padding-right: 1px;
}

.service {
  padding-left: 30px;

}

/* end struttura della griglia delle 3 colonne */

/* testi e immagini delle 3 colonne */

h3 {
  font-size: 20px;
  margin-bottom: 30px;
}

.trio {
  margin: 20px 0 25px 0;
}


.titoletto {   /* popolar feature */
  text-align: center;
  font-size: 16px !important;
  font-weight: bold;
  border-top: 2px solid darkgrey;
  padding-top: 30px;
  margin-top: 30px;
}

.icone_rosse {
  margin-top: 30px;
  margin-bottom: 70px;
}

.icone_rosse li {    /* elementi liste */
  list-style: none;
}

.fa-check-circle {
  color: #FF7A59;
}

.learn_more {
  font-family: 'Roboto', 'Montserrat', 'AvenirNext', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 14px;
  color: white;
  text-decoration: none;
  background-color: #FF7A59;
  border: 1px solid #FF7A59;
  border-radius: 7px;
  padding: 18px 35px 18px 35px;
}

.button_orange {
  margin-bottom: 30px;
}

/* end testi e immagini delle 3 colonne */

/* end 3 colonne */


/* div gradiente verde */

.sfondo_gradiente {
  background: -webkit-linear-gradient(left, rgba(0,165,188,1) 0%, rgba(0,188,166,1) 100%, rgba(0,165,188,1) 100%);
  background: -o-linear-gradient(left, rgba(0,165,188,1) 0%, rgba(0,188,166,1) 100%, rgba(0,165,188,1) 100%);
  background: linear-gradient(to right, rgba(0,165,188,1) 0%, rgba(0,188,166,1) 100%, rgba(0,165,188,1) 100%);
  width: 100%;
  height: auto;
}

.grow {
  text-align: center;
  color: white;
  font-family: 'Roboto', 'Montserrat', 'AvenirNext', 'Helvetica', 'Arial', 'sans-serif';
  padding-bottom: 100px;
}

.grow > h2 {
  color: white;
  padding-top: 40px;
}

.grow > p {
  color: white;
  font-size: 14px;
  padding-bottom: 40px;
}

.table {
  width: 100%;
  height: auto;
}

.riga_1, .riga_2 {
  height: 50%;
}

.riga_1 {
  border-bottom: 1px solid white;
}

.col {
  width: 20%;
  height: 100%;
  padding: 30px;
  display: inline-block;
  border-left: 1px solid white;
}

.numbers {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 10px;
}

.small {
  font-size: 12px;
}

.border {
  border-left: none !important;
}

/* end div sfondo gradiente */


/*
